# Игнорирование базы данных
*.db

# Игнорирование папки с фото
/photos/

# Игнорирование любой папки к кэшем пайтона, которая образуется при тестовых запусках
__pycache__/

# Игнорирование файла с секретными переменными
*.env